/** @format */

html {
	--primary-color: #313e56;
	--secondary-color: rgb(72, 187, 120);
	--error-color: #f70606;
	--ok-color: #c5efb0;
	--dark-text-color: #000000;
	--light-text-color: #fff;
	--disable-text-color: #aaa;
	--dark-application-color: #333333;
	--light-application-color: #f3f3f3;
	--white-application-color: #ffffff;
	--ligth-border-color: #e4e4e4;
	--ligth-version: #d2dbff;
}

/*export const button = css`
    button[btn1] {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        grid-gap: 0.3rem;
        cursor: pointer;
        color: var(--color-crudo);
        fill: var(--secondary-color);
        stroke: var-secondary-color);
        background-color: var(--secondary-color);
        font-size: var(--font-bajada-size);
        font-weight: var(--font-bajada-weight);
        border-radius: 0.4rem;
        padding: 0.5rem;
        box-shadow: 0 3px 6px 0 var(--orange-5);
        transition-duration: 0.4s;
        text-decoration: none;
        border: none;
        outline: none;
    }
    button:not([disabled])[btn1]:hover {
        background-color: var(--secondary-color);
    }
    button[btn1]:active {
        background-color: var(--secondary-color);
        box-shadow: 0.2rem var(--secondary-color);
        transform: translateY(0.2rem);
    }
    button[btn1][disabled] {
        opacity: 0.8;
        background-color: var(--color-gris);
        cursor: not-allowed;
        pointer-events: none;
    }

    button[btn2] {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        grid-gap: 0.3rem;
        cursor: pointer;
        color: var(--secondary-color);
        fill: var(--secondary-color);
        stroke: var(--secondary-color);
        background-color: transparent;
        font-size: var(--font-bajada-size);
        font-weight: var(--font-bajada-weight);
        border-radius: 0.4rem;
        padding: 0.5rem;
        box-shadow: 0 3px 6px 0 var(--orange-5);
        transition-duration: 0.4s;
        text-decoration-line: underline;
        text-decoration-style: solid;
        border: none;
        outline: none;
    }
    button:not([disabled])[btn2]:hover {
        color: var(--secondary-color);
    }
    button[btn2]:active {
        color: var(--secondary-color);
        transform: translateY(0.2rem);
    }
    button[btn2][disabled] {
        opacity: 0.8;
        color: var(--color-gris);
        cursor: not-allowed;
        pointer-events: none;
    }

    button[btn3] {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        grid-gap: 0.3rem;
        cursor: pointer;
        color: var(--secondary-color);
        background-color: transparent;
        font-size: var(--font-bajada-size);
        font-weight: var(--font-bajada-weight);
        border-radius: 0.4rem;
        border: 1px solid var(--secondary-color);
        padding: 0.5rem;
        box-shadow: 0 3px 6px 0 var(--orange-5);
        transition-duration: 0.4s;
        text-decoration: none;
        outline: none;
    }
    button:not([disabled])[btn3]:hover {
        background-color: var(--secondary-color);
        color: var(--white-application-coloro);
        fill: var(--white-application-coloro);
        stroke: var(--white-application-color);
    }
    button[btn3]:active {
        background-color: var(--dark-text-color);
        box-shadow: 0.2rem var(--secondary-color);
        transform: translateY(0.2rem);
    }
    button[btn3][disabled] {
        opacity: 0.8;
        background-color: var(--color-gris);
        cursor: not-allowed;
        pointer-events: none;
    }
    button[btn4] {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        grid-gap: 0.1rem;
        cursor: pointer;
        color: var(--secondary-color);
        fill: var(--secondary-color);
        stroke: var(--secondary-color);
        background-color: transparent;
        font-size: var(--font-bajada-size);
        font-weight: var(--font-bajada-weight);
        border-radius: 50%;
        padding: 0.1rem;
        box-shadow: 0 3px 6px 0 var(--orange-5);
        transition-duration: 0.4s;
        text-decoration-line: underline;
        text-decoration-style: solid;
        border: none;
        outline: none;
    }
`;*/
